@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lora&family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #3a3a3a;
    color: white;
}

h1, h2 {
    font-family: 'Aboreto', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #B3C9D5;
}

a {
    text-decoration: none;
}

/*Styles logo and navigation bar*/

#logo {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
}

#navigation {
    height: 30px;
    background-color: #B3C9D5;
    border: white 2px solid;
    text-align: center;
    padding-top: 5px;
}

#navigation li {
    list-style-type: none;
    display: inline;
    padding: 15px;
}

#navigation a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: large;
}

#navigation a:hover {
    text-decoration: underline;
}